<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Button fixed -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal('list')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
    <!-- Items card -->
  <ion-card *ngFor="let item of lists">
    <ion-card-header>
        <ion-buttons style="position:absolute; right: 15px; " *ngIf="item.status==0"   (click)="presentActionSheet(item.id)">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-buttons>
      <ion-card-title [routerLink]="['/list-details',item.id]">{{item.name}}  </ion-card-title>
      <span style="position:absolute; right: 15px; color:rgb(36, 48, 218) ">${{item.precio}}</span>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha</p>
      {{item.date}}
      <span *ngIf="getStatus(item.status)" [ngClass]="cssStatus" >{{txtStatus}}</span>
    </ion-card-content>
  </ion-card>
  
</ion-content>
