<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis gastos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Button fixed -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal('list')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <!-- Items card -->
  <ion-card *ngFor="let item of lists">
    <ion-card-header>
      <ion-card-title [routerLink]="['/list-details',item.id]">{{item.name}}</ion-card-title>
      <!--span *ngIf="obtenerTotal(item.id)" style="position:absolute; right: 15px; color:rgb(36, 48, 218) ">${{precioTotal}}</span-->
      <ion-buttons *ngIf="id.status==0"   (click)="presentActionSheet(item.id)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <p>Fecha</p>
      {{item.date}}
      <span *ngIf="getStatus(item.status)" [ngClass]="cssStatus" >{{txtStatus}}</span>
    </ion-card-content>
  </ion-card>
  
</ion-content>
