<ion-header>
  <ion-toolbar >
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
    <!-- Button fixed -->
  <ion-fab *ngIf="statusList=='0'" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal('item')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let item of list_items" (click)="presentActionSheetItem(item.id)">
    <ion-card-header>

      <ion-card-title>{{item.name}}</ion-card-title>
      <!--ion-buttons (click)="presentActionSheetItem(item.id)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-buttons-->
        <ion-card>
  
        <ion-card-content>
              <ion-img src={{item.image}}></ion-img>
            </ion-card-content>
          </ion-card>
    </ion-card-header>
    <ion-card-content>
        <p>Descripcion</p>
        {{item.description}}
        <p>Precio:</p>
        <span style="color:rgb(36, 48, 218)">${{item.price}}</span>
      </ion-card-content>
  </ion-card>
</ion-content>
